@mixin flex($disp, $justify, $direction, $width, $height, $margintop) {
    margin-top: $margintop;
    display: $disp;
    flex-direction: $direction;
    justify-content: $justify;
    height: $height;
    width: $width;
  
}

$margin-left: 162px;
$border: 1px solid #d9cccc;

.Cartt-main {
    @include flex(flex,center ,column ,null ,100% ,100px );
    align-items: center;
    margin-bottom: 10%;
}

.title {
    width: 74%;
}
.Cartt-content {
    width: 70%;
    min-height: 100px;
    border: $border;
    padding: 20px;
    margin-top: 20px;
    
}

.btn-content {
    display: flex;
    justify-content: flex-end;
    margin-top: 37px;
}

.btn-place {
    background-color: #3371b5 !important;
    color: white !important;
}

//  cart details
.cart-details {
    display: flex;
}

.img-book {
    width: 94px;
    margin: 20px 20px 10px 5px;
}
.bag-text {
    @include flex(flex, space-evenly, column, 300px, 161px, null);
}

.cart-title {
    font-weight: 600;
    font-size: 20px;
}
.cart-bookAuthor {
    font-size: 15px;
    height: 12px;
    color: #a49595;
    font-weight: 600;
}
.price {
    font-weight: bold;
}
.text-content{
    width: 180px;
}

//  cart details

.btn-content {
    display: flex;
    justify-content: flex-end;
    margin-top: 37px;
}
.btn-place {
    background-color: #3371b5 !important;
    color: white !important;
}
.address {
    @include flex(flex, center, column, 72%, 74px, 12px);
    border: $border;
    padding-left: 23px;
    
}
.order {
    @include flex(flex, center, column, 70%, 30px, 12px);
    border: $border;
    padding: 23px;
    margin-bottom: 200px;
}
.address-details {
    @include flex(flex, space-evenly, column, 70%, 552px, null);
    border: $border;
    margin-top: 12px;
    padding: 23px;
    margin-bottom: 1%;
}
.customer-deatiles {
    display: flex;
    justify-content: space-between;
}
.details-btn {
    color: #a03037 !important;
}
.customer-content-names {
    @include flex(flex, space-between, null, 50%, null, null);
}
.heading {
    @include flex(flex, space-between, null, 158px, null, null);
}
.address-feild {
    width: 50%;
    height: 70px !important;
}
.city-state {
    display: flex;
    width: 464px;
    justify-content: space-between;
}
.order-content {
    width: 78%;
    min-height: 300px;
    border: 1px solid #d9cccc;
    padding: 20px;
    margin-top: 10px;
    margin-bottom: 164px;
}

.MuiFormLabel-root{
    color: black !important;
    font-weight: 500 !important;
}

//ORDER SUMMERY
.order_content {
    width: 70%;
    min-height: 36vh;
    border: 1px solid #d9cccc;
   margin-bottom: 10%;
    
}
.header_detail2 {
    font-weight: 600;
    font-size: 18px;
    
}
.main_cart2 {
    display: flex;
}
.bag_text2 {
    @include flex(flex, space-evenly, column, 130%, 12vh, null);
}
.img_book2 {
    width: 6vw;
    margin: 2rem 0rem 0rem 2rem;
}
.text_content2 {
    width: 28%;
    margin-top: 1.5rem;
}
.btn_content3 {
    display: flex;
    justify-content: flex-end;
    height: 6vh;
    position: relative;
    top: 10rem;
    left: 19rem;
}
.btn_place3 {
    background-color: #3371b5 !important;
    color: white !important;
}


@media screen and (max-width:450px) {

    .customer-content-names {
        @include flex(flex, space-between, column, 460px, null, null);
    }
    
}