@mixin icon($display, $direction, $jst-cont) {
    display: $display;
    flex-direction: $direction;
    justify-content: $jst-cont;
}


.app-header {
    background-color: #8F2B2F !important;
}

.header-title {
    display: flex;
    width: 130px;
    justify-content: space-around;
    margin-left: 10%;
    margin-right: 2%;
}


.book-text {
    font-size: 20px;
}

.profile {
    @include icon(flex, column, center);
    text-align: center !important;
}

.cart {
    @include icon(flex, column, center);
    text-align: center !important;
}

.right-header {
    width: 200px;
    margin-left: 190px;
    @include icon(flex, row, space-around)
}



.css-96uuyl {
    
    background-color: white !important;
    width: 100% !important;
}

.css-yz9k0d-MuiInputBase-input {
    color: grey !important;
}



.css-1iz4iln {
    color: gray !important;
}



@media screen and (min-width: 600px) {

    .css-96uuyl {
        margin-left: 8%;
        width: 500px !important;
    }

}